<!DOCTYPE html>
<html>
  <head>
    <title>FYERS Admin</title>
  </head>
  <body>
    <h2>Access Token</h2>
    <pre><%= JSON.stringify(token, null, 2) %></pre>
    <br />
    <a href="/profile">View Profile</a>
    <br />
    <a href="/getquote?symbols=NSE:TCS-EQ,NSE:SBIN-EQ">Test Get Quote</a>
  </body>
</html>
