<!DOCTYPE html>
<html>
<head>
  <title>Fyers Admin</title>
</head>
<body>
  <h1>Token Received</h1>
  <p>Access Token Data:</p>
  <pre><%= JSON.stringify(token, null, 2) %></pre>

  <a href="/profile"><button>Profile</button></a>
  <a href="/getquote"><button>Get Quote</button></a>
</body>
</html>
